<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class" >
            org.sqlite.JDBC
        </property>

        <property name="hibernate.connection.url">
            jdbc:sqlite:language_db.db
        </property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">
            org.hibernate.community.dialect.SQLiteDialect
        </property>

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Format SQL -->
        <property name="hibernate.format_sql">true</property>

        <!-- Auto create/update table -->
        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <!-- Mapping entity -->
        <mapping class="com.learnkorealanguage.app.model.Account"/>
    </session-factory>
</hibernate-configuration>