-- Scene
.text {
    -fx-font-size: 20px;
}
.nav-bar {
    -fx-padding: 5px 10px 5px 10px;
}
.app-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-family: Consolas;
    -fx-text-alignment: center;
}
.container {
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: rgba(16, 20, 16, 0.92);
}
.slider-bar {
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-opacity: 0.75;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-border-style: solid outside;
    -fx-border-radius: 5px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
}